// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Tailwind
@import 'tailwind';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "misc/tweaks";

#content.container-fluid{
    padding: 0;
}

#technologies{
    background-color: #4d4d4d;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/graphy.png");
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: #07c;
    cursor: pointer;
}

div#app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
div#content{
    flex-grow: 1;
}
