@import url('https://fonts.googleapis.com/css?family=Nunito');
@tailwind base;
@tailwind components;
@tailwind utilities;


#content.container-fluid{
    padding: 0;
}

.technology{
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: #07c;
    cursor: pointer;
}

div#app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
div#content{
    flex-grow: 1;
}

[x-cloak] {
    display: none;
}
