#!/bin/bash

#
#  This file is for configuring the MySQL Server you want to IMPORT the file into
#  Requires MySQL Client installed on machine script is run on
#

MYSQL_HOST='mysql'
MYSQL_USERNAME='root'
MYSQL_PASSWORD='root'
MYSQL_DATABASE='default'
